
.main{
    border: 1px solid black;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 15px;
    color: blue;
    font: 1em sans-serif;
    font-weight: bold;
    text-align: center;
  
  }
  
  
  button{
    background-color: red;
    width: 150px;
    color: #fff;
    height: 40px;
    border-radius: 10px;
  }